li {
  margin: 0.5em;
}

header {
  background: rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
  z-index: 5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover {
    color: gray;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 575px) {
  .navbar-brand {
    display: none !important;
  }
  .navbar {
    justify-content: center;
  }
}
